body { 
    background-color: #1E1E1E !important;
    color: white;
    font-family: sans-serif;
}

#title-bar {
    margin: 25px auto 25px auto;
    text-align: center;
}

h1 {
    color: white !important;
}

#bartlogo {
    display: inline-block;
    vertical-align: middle;
}

#title {
    display: inline-block;
    margin: 0px;
    vertical-align: middle;
}

#submit {
    text-align: center;
    margin-top: 50px;
}

#station-modal {
    text-align: center;
}

button { 
    padding: 10px 50px 10px 50px;
}
